[user]
	email = youremail@example.com
	name = yourname
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = false
[push]
	autoSetupRemote = true
[diff]
	algorithm = patience
[core]
	editor = vim
